<section id="Reset">
    <div class="container mb-3">
        <div class="logo text-center">
            <img src="../../../../assets/images/logo.svg" alt="logo" >
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)">

        <div class="col-md-6 mx-auto">
            <div class="auth-card">
                <div class="title my-4">
                    <span>welcome to PMS</span>
                    <h3>Reset  Password</h3>
                </div>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>E-mail</mat-label>
                    <input formControlName="email" matInput placeholder="Enter Your Email">
                </mat-form-field>
                <span class="text-danger p-2" *ngIf="resetPasswordForm.controls.email.errors && resetPasswordForm.controls.email.touched">
                    <span *ngIf="resetPasswordForm.get('email')?.getError('required')" class="mb-0">Email Is Required</span>
                    <span *ngIf="resetPasswordForm.get('email')?.getError('email')" class="mb-0">Email Is Invalid</span>
                </span>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>OTP Verification</mat-label>
                    <input formControlName="seed" matInput placeholder="Enter Verification">
                </mat-form-field>
                <span *ngIf="resetPasswordForm.get('seed')?.errors && resetPasswordForm.get('seed')?.touched "
                    class="text-danger  mb-3">
                    <span *ngIf="resetPasswordForm.get('seed')?.errors?.['required']">otp is required</span>
                    <span *ngIf="resetPasswordForm.get('seed')?.errors?.['pattern']"
                    class="mb-0">code is invalid></span>
                </span>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>New Password</mat-label>
                    <input formControlName="password" matInput placeholder="Enter your New Password" [type]="hide ? 'password' : 'text'">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <span *ngIf="resetPasswordForm.get('password')?.errors && resetPasswordForm.get('password')?.touched " class="text-danger mb-3"  >
                    <span *ngIf="resetPasswordForm.get('password')?.errors?.['required']">password is required</span>
                    <span *ngIf="resetPasswordForm.get('password')?.errors?.['pattern']">Password must have capital,small letters,sympols,number and pass length(8-16)</span>
                </span>
    
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Confirm Password</mat-label>
                    <input formControlName="confirmPassword" matInput placeholder="Confirm New Password" [type]="hide ? 'password' : 'text'">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <span class="text-danger mb-3" *ngIf="resetPasswordForm.get('confirmPassword')?.errors &&
                    resetPasswordForm.get('confirmPassword')?.touched ">
                    <span *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">
                    confirmPassword is required
                    </span>
                    <span *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['pattern']">
                    confirmPassword must have capital,small letters,sympols,number and pass length(8-16)
                    </span>
                    <span *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['invalid']">
                        password and confirm password not match
                      </span>
                </span>
                <div class="text-end m-3">
                    <a routerLink="/auth/login" class="text-decoration-none pointer text-white">Log in?</a>
                </div>
                <button [disabled]="resetPasswordForm.invalid" class="primary w-100">Save</button>
            </div>
        </div>
        </form>
    </div>
  </section>