<section id="login">
    <div class="container">
        <div class="logo text-center">
            <img src="../../../../assets/images/logo.svg" alt="logo" >
        </div>
        <div class="col-md-6 mx-auto">
            <div class="auth-card">
                <div class="title my-4">
                    <span>welcome to PMS</span>
                    <h3>Reset  Password</h3>
                </div>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="Enter Your Email">
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>OTP Verification</mat-label>
                    <input matInput placeholder="Enter Verification">
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="Enter your New Password" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm New Password" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                
                <button class="primary w-100">Save</button>
            </div>
        </div>
    </div>
  </section>