#Reset{
    background-image: url(../../../../assets/images/bg1.jpeg);
    background-size: cover;
    background-position: 70% 75%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-icon{
    color: #fff;
}