<div class="card-auth p-5">
  <h4 class="d-flex align-items-center justify-content-between mb-5">
    <div class="col-3">
      <div class="text-center">
        <img src="../../../assets/images/logo.svg" alt="logo" >
      </div>
    </div>
      <span (click)="onNoClick()"><i class="fa-solid fa-xmark" style="color: #f00a0a;"></i></span>
  </h4>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category Date</th>
        <th>Modification Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{data.name}}</td>
        <td>{{data.creationDate  }}</td>
        <!-- <td>{{data.modificationDate | date: "dd-yy-yyyy , hh:mm:a" }}</td> -->
      </tr>
    </tbody>
  </table>

</div>
