<section id="login">
  <div class="container">
      <div class="logo text-center">
          <img src="../../../../assets/images/logo.svg" alt="logo" >
      </div>
      <div class="col-md-6 mx-auto">
          <div class="auth-card">
              <div class="title my-4">
                  <span>welcome to PMS</span>
                  <h3>Create New Account</h3>
              </div>
              <mat-form-field appearance="fill" class="w-50">
                  <mat-label>User Name</mat-label>
                  <input matInput placeholder="Enter Your User Name">
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-50">
                <mat-label>E-mail</mat-label>
                <input  matInput placeholder="Enter Your Email">
                  </button>
              </mat-form-field>

              <div class="d-flex justify-content-between align-items-center mb-4">
                  <a class="text-decoration-none text-white">Log In</a>
                  <a class="text-decoration-none text-white">Verify your account?</a>
              </div>
              <button class="primary w-100">Login</button>
          </div>
      </div>
  </div>
</section>
