#register{
  background-image: url(../../../../assets/images/bg3.jpeg);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-icon{
  color: #fff;
}
._nghost-ng-c2040221903{
  background: none;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #fff;
  }
