<section id="register">
  <div class="container">
      <div class="logo text-center">
          <img src="../../../../assets/images/logo.svg" alt="logo" >
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
      <div class="col-md-8 mx-auto">
          <div class="auth-card">
              <div class="title my-4">
                  <span>welcome to PMS</span>
                  <h3>Create New Account</h3>
              </div>
              <div class="inputs-row d-flex justify-content-between align-items-center gap-4">

                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>User Name</mat-label>
                    <input formControlName="userName" matInput placeholder="Enter Your Email">
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>E-mail</mat-label>
                  <input formControlName="email" matInput placeholder="Enter Your Email">
              </mat-form-field>

              </div>
              <div class="inputs-row d-flex justify-content-between align-items-center gap-4">

                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Country</mat-label>
                    <input formControlName="country" matInput placeholder="Enter Your Email">
                </mat-form-field>

                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Phone Number</mat-label>
                  <input formControlName="phoneNumber" matInput placeholder="Enter Your Email">
              </mat-form-field>

              </div>
              <div class="inputs-row d-flex justify-content-between align-items-center gap-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Password</mat-label>
                  <input formControlName="password" matInput placeholder="Enter Your Password" [type]="hide ? 'password' : 'text'">
                  <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
              </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput placeholder="Enter Your Password" [type]="hide ? 'password' : 'text'">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-4">
                  <a [routerLink]="['/auth/register']" class="text-decoration-none text-white">Log in?</a>
                  <a [routerLink]="['/auth/forgetPassword']" class="text-secondry">Have Code?</a>
              </div>
              <button class="primary w-100">Register</button>
          </div>
      </div>
    </form>
  </div>
</section>
