<section id="register">
  <div class="container mb-3">
    <div class="logo text-center">
      <img src="../../../../assets/images/logo.svg" alt="logo" />
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
      <div class="col-md-8 mx-auto">
        <div class="auth-card">
          <div class="title my-4">
            <span>welcome to PMS</span>
            <h3>Create New Account</h3>
          </div>
          <div class="d-flex justify-content-center mb-4">
            <ngx-dropzone (change)="onSelect($event)" [multiple]="false" class="circle-preview">
              <ngx-dropzone-label class="text-main p-3">
                <i class="fa-solid fa-upload fa-3x mb-3"></i>
                <div>
                  choose your profile image
                </div>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" class="img-fluid" [removable]="true"
                (removed)="onRemove(f)" *ngFor="let f of files" [file]="f">

              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>User Name</mat-label>
                <input formControlName="userName" matInput placeholder="Enter Your userName" />
              </mat-form-field>
              <span class="text-danger  mb-3" *ngIf="registerForm.get('userName')?.invalid &&
                  (registerForm.get('userName')?.dirty ||
                    registerForm.get('userName')?.touched)">
                <span *ngIf="registerForm.get('userName')?.hasError('required')">userName is required</span>
                <span *ngIf="registerForm.get('userName')?.hasError('pattern')">Invalid userName format must contains
                  numbers andcharacters</span>
              </span>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>E-mail</mat-label>
                <input formControlName="email" matInput placeholder="Enter Your Email" />
              </mat-form-field>
              <span class="text-danger  mb-3"
                *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                <span *ngIf="registerForm.get('email')?.hasError('required')">Email is required</span>
                <span *ngIf="registerForm.get('email')?.errors?.['email']">Email is invalid</span>
              </span>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Country</mat-label>
                <input formControlName="country" matInput placeholder="Enter Your Country" />
              </mat-form-field>
              <span class="text-danger  mb-3" *ngIf="
                registerForm.get('country')?.invalid &&
                (registerForm.get('country')?.dirty ||
                  registerForm.get('country')?.touched)">
                <span *ngIf="registerForm.get('country')?.hasError('required')">country is required</span>
              </span>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Phone Number</mat-label>
                <input formControlName="phoneNumber" matInput placeholder="Enter Your Phone Number" />
              </mat-form-field>
              <span *ngIf="registerForm.get('phoneNumber')?.errors && registerForm.get('phoneNumber')?.touched "
                class="text-danger  mb-3">
                <span *ngIf="registerForm.get('phoneNumber')?.errors?.['required']" class="mb-0">phoneNumber is
                  required</span>
                <span *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern']" class="mb-0">phoneNumber starts with
                  011/012/015/010 and length 11 number </span>
              </span>

            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput placeholder="Enter Your Password"
                  [type]="hide ? 'password' : 'text'" />
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
                </button>
              </mat-form-field>
              <span *ngIf="registerForm.get('password')?.errors &&
                registerForm.get('password')?.touched " class="text-danger mb-3">
                <span *ngIf="registerForm.get('password')?.errors?.['required']">
                  password is required
                </span>
                <span *ngIf="registerForm.get('password')?.errors?.['pattern']">
                  Password must have capital,small letters,sympols,number and pass length(8-16)
                </span>
              </span>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Confirm Password</mat-label>
                <input formControlName="confirmPassword" matInput placeholder="Enter Your Password"
                  [type]="hide ? 'password' : 'text'" />
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
                </button>
              </mat-form-field>
              <span class="text-danger mb-3" *ngIf="registerForm.get('confirmPassword')?.errors &&
                registerForm.get('confirmPassword')?.touched ">
                <span *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
                  confirmPassword is required
                </span>
                <span *ngIf="registerForm.get('confirmPassword')?.errors?.['pattern']">
                  confirmPassword must have capital,small letters,sympols,number and pass length(8-16)
                </span>
                <span *ngIf="registerForm.get('confirmPassword')?.errors?.['invalid']">
                  password and confirm password not match
                </span>
              </span>
            </div>

          </div>
          <div class="d-flex justify-content-between align-items-center my-3">
            <a [routerLink]="['/auth/login']" class="text-decoration-none text-white">Log in?</a>
            <a [routerLink]="['/auth/verify']" class="text-secondry text-decoration-none pointer">Have Code?</a>
          </div>
          <div class="text-center">
            <button type="submit" class="primary w-75">Register</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
