#home{
    color: #fff;
    background-image: url(../../../assets/images/home-bg.png);
    background-position: center center;
    background-size: cover;
    height: 45vh;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0 1rem;
    margin-top: 1rem;
}

#home-data{
  margin-top: 2rem;
  padding: 0 1rem;

  .w-50{
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
  }
  .content-header{
border-left: 5px solid #EF9B28;
padding-left: 2rem;
  }
}
