<section id="home" class="mx-2">
  <div class="home-content px-5">
    <h1>Welcome <span class="text-secondry">{{userName}}</span></h1>
    <h3>You can add project and assign tasks to your team</h3>
  </div>
</section>
<section id="home-data">
    <div class="d-flex justify-content-between gap-4">
      <div class="w-50">
        <div class="content-header">
          <h4>Tasks</h4>
          <p>Lorem ipsum dolor sit amet,consecteture</p>
        </div>

      </div>
      <div class="w-50">
        <div class="content-header">
          <h4>Progress</h4>
          <p>Lorem ipsum dolor sit amet,consecteture</p>
        </div>      </div>
        <div>
          CHARTS HERE
        </div>
    </div>
</section>
