<section>
  <div class="page-header shadow-sm">
    <h3>Users</h3>
  </div>
  <div class="table-card container py-5">
    <div class="bg-whiteColor p-3 d-flex">
      <input
        [(ngModel)]="searchValue"
        (keyup.enter)="getAllUsers()"
        type="text"
        class="form-control rounded-pill w-25"
        placeholder="Search Here"
        aria-label="search"
        aria-describedby="basic-addon1"
      />
      <div>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>list</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>title</mat-icon> <span>Title</span>
          </button>
          <button mat-menu-item>
            <mat-icon>schedule</mat-icon> <span>Date</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
          <th>Title</th>
          <th>status</th>
          <th>Phone Number</th>
          <th>project</th>
          <th>Email</th>
          <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of listUsers">
          <td>{{user.userName}}</td>
          <td>
            <span class="status" [class]="user.isActivated?'active':'notActive'">
              {{user.isActivated?'Active':'notActive'}}
            </span>
          </td>
          <td>{{user.phoneNumber}}</td>
          <td>{{user.email}}</td>
          <td>{{user.creationDate|date:'dd-MM-yyyy'}}</td>
          <td>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openBlockDialog(user)" >
                <mat-icon>block</mat-icon>
                <span>{{user.isActivated?'Block':'Unblock'}}</span>
              </button>
              <button mat-menu-item [routerLink]="['/dashboard/manager/users/view/',user.id]" >
                <mat-icon color="text-main">visibility</mat-icon>
                <span>View</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <mat-paginator [length]="tableData?.totalNumberOfRecords "
      [pageSizeOptions]="[5,10, 50, 100]"
      aria-label="Select page"
      [pageSize]="tableData?.pageSize"
       (page)="handlePageEvent($event)"  [pageIndex]="tableData?.pageNumber"
       >


      </mat-paginator>

    </div>
  </div>
</section>

