<section>
  <div class="page-header shadow-sm">
    <h3>Tasks</h3>
  </div>
  <div class="table-card container py-5">
    <div>
      <!-- search -->
    </div>
    <table class="table table-striped">
      <thead>
          <th>Title</th>
          <th>status</th>
          <th>Phone Number</th>
          <th>project</th>
          <th>Email</th>
          <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of listUsers">
          <td>{{user.userName}}</td>
          <td>
            <span class="status" [class]="user.isActivated?'active':'notActive'">
              {{user.isActivated?'Active':'notActive'}}
            </span>
          </td>
          <td>{{user.phoneNumber}}</td>
          <td>{{user.email}}</td>
          <td>{{user.creationDate|date:'dd-MM-yyyy'}}</td>
          <td>              
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item  [routerLink]="['/dashboard/manager/tasks/view' , user.id]">
                <mat-icon>visibility</mat-icon>
                <span>View</span>
              </button>
              <button mat-menu-item  [routerLink]="['/dashboard/manager/tasks/edit' , user.id]">
                <mat-icon>block</mat-icon>
                <span>Block</span>
              </button>              
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <mat-paginator [length]="tableData?.totalNumberOfRecords "
      [pageSizeOptions]="[5,10, 50, 100]" 
      aria-label="Select page"
      [pageSize]="tableData?.pageSize"
       (page)="handlePageEvent($event)"  [pageIndex]="tableData?.pageNumber"
       >


      </mat-paginator>
      
    </div>
  </div>
</section>

