<section id="forget">
    <div class="container">
        <div class="logo text-center">
            <img src="../../../../assets/images/logo.svg" alt="logo">
        </div>
        <!-- <form [formGroup]="loginForm" (ngSubmit)="onRquestReset(loginForm)"> -->

            <div class="col-md-6 mx-auto">
                <div class="auth-card">
                    <div class="title my-4">
                        <span>welcome to PMS</span>
                        <h3>Forget Password</h3>
                    </div>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>E-mail</mat-label>
                        <input  matInput placeholder="Enter Your Email">
                    </mat-form-field>

                    <div class="text-end my-2">
                        <a routerLink="/auth/resetPassword" class="textOrange text-decoration-none">Have Code?</a>
                    </div>

                    <button class="primary w-100 mt-5">Verify</button>

                </div>
            </div>
        <!-- </form> -->
    </div>

</section>