#navbar{
    .col-4{
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }


}
.shadow-sm{
  --bs-box-shadow-sm: 0px 1px 4px 0px #00000026;
}
