<section id="verify">
  <div class="container">
      <div class="logo text-center">
          <img src="../../../../assets/images/logo.svg" alt="logo" >
      </div>
      <div class="col-md-6 mx-auto">
        <div class="auth-card">
          <div class="title">
            <span>Please Enter Your Email And Check Your Inbox</span>
            <h3>Verify Your Account</h3>
          </div>
            <form [formGroup]="verifyForm" (ngSubmit)="onSubmit(verifyForm)">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>E-mail</mat-label>
                  <input
                    formControlName="email"
                    matInput
                    placeholder="Enter Your Email"
                  />
                </mat-form-field>
                <span
                  class="text-danger  mb-3"
                  *ngIf="verifyForm.get('email')?.errors && verifyForm.get('email')?.touched">
                  <span *ngIf="verifyForm.get('email')?.errors?.['required']">Email is required</span>
                  <span *ngIf="verifyForm.get('email')?.errors?.['email']">Invalid email format</span>
                </span>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Code</mat-label>
                  <input formControlName="code" matInput placeholder="Enter Your Code"/>
                </mat-form-field>
                <span *ngIf="verifyForm.get('code')?.errors && verifyForm.get('code')?.touched "
                class="text-danger  mb-3">
                <span *ngIf="verifyForm.get('code')?.errors?.['required']">otp is required</span>
                <span *ngIf="verifyForm.get('code')?.errors?.['pattern']"
                class="mb-0">code is invalid></span>
              </span>
              <div class="text-end me-3">
                <a  routerLink="/auth/login" class="text-decoration-none pointer text-white">Log in?</a>
              </div>
              <button type="submit" class="primary mt-3 w-100">Verify</button>
              </form>
        </div>

      </div>
  </div>
</section>






























