#sidebar {
  background-color: #0e382f;
  position: sticky;
  top: 0;
  z-index: 1071;
  * {
    transition: all 0.5s ease;
  }
  .item {
    cursor: pointer;
    padding: 10px 5px !important;
    font-weight: 500;
    margin: 0.5rem 0px;
    color: #fff;
    span {
      margin-left: 1rem;
    }
    .bg-active {
      background-color: rgba(239, 155, 40, 0.3);
      border-radius: 8px;
      &span {
        color: #ef9b28 !important;
      }
    }
  }
  .bg-active {
    background-color: rgba(239, 155, 40, 0.3);
    border-radius: 8px;
    &span {
      color: #ef9b28 !important;
    }
  }

  .position-left {
    padding: 10px 5px;
    border-radius: 0.5rem 0 0 0.5rem;
    background: #ef9b28;
    color: #fff;
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
  }
  .position-right {
    padding: 10px 5px;
    border-radius: 0 0.5rem 0.5rem 0;
    background: #ef9b28;
    position: absolute;
    right: -20px;
    top: 20px;
    color: #fff;
    cursor: pointer;
  }
}
@media (max-width: 425px) {
  .row > div {
    display: none;
  }
}
// @media (max-width: 760px) {
//     .icon-name{
//     display: none !important;
//     };
//     i{
//         padding-left: 0;
//         margin-left: 0 !important;
//         font-size: x-large;
//     }
//     img{
//         display: none;
//     }
//  }
