<section>
  <div class="page-header shadow-lg">
    <div>
      <a routerLink="../">
        <i class="fa-solid fa-angle-left"></i>
        <span>View All Projects</span>
      </a>
      <h3>Add a new projects</h3>
     
    </div>
  
  </div>
  <div class="container">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit(projectForm)">
      <div class="form-card">
        <div class="mt-5">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput placeholder="Placeholder">
          </mat-form-field>
        </div>

        <div class="my-3">

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <input formControlName="description" matInput placeholder="Placeholder">
            <textarea matInput placeholder="Placeholder"></textarea>
          </mat-form-field>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <button [routerLink]="['/dashboard/manager/projects']" type="button" class="out-secondray">Cancel</button>
          <button class="primary">Save</button>
        </div>

      </div>
    </form>
  </div>
</section>