<section>
  <div class="page-header shadow-sm">
    <h3>Projects</h3>
  </div>
  <div class="table-card container py-5">
    <div class="bg-whiteColor p-3">
      <div class="w-100">
        <mat-form-field appearance="fill" class="bg-gray rounded-pill w-50">
          <mat-label>Search</mat-label>
          <input [(ngModel)]="searchValue" (keyup)="onSearchInputChange()" matInput placeholder="Search Here by Title">
      </mat-form-field>
      </div>
  </div>
    <table class="table table-striped">
      <thead >
        <th>Title</th>
        <th>Description</th>
        <th>Creation Date</th>
        <th>Num of tasks</th>
        <th>Modificaion Date</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of listProjects">
          <td>{{ item.title }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.creationDate | date : "dd-MM-yyyy" }}</td>
          <td>{{ item?.task?.length }}</td>
          <td>{{ item.modificationDate | date : "dd-MM-yyyy" }}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <mat-paginator [length]="tableData?.totalNumberOfRecords"
          [pageSizeOptions]="[5,10, 50, 100]" [pageSize]="tableData?.pageSize"
           (page)="handlePageEvent($event)" [pageIndex]="pageIndex"
           aria-label="Select page">
      </mat-paginator>

    </div>
  </div>
</section>
